<h1>Editing Seguimiento Material</h1>

<%= render 'form', seguimiento_material: @seguimiento_material %>

<%= link_to 'Show', @seguimiento_material %> |
<%= link_to 'Back', seguimiento_materiales_path %>
