<h1>Editing Prospecto Meta Corto Plazo</h1>

<%= render 'form', prospecto_meta_corto_plazo: @prospecto_meta_corto_plazo %>

<%= link_to 'Show', @prospecto_meta_corto_plazo %> |
<%= link_to 'Back', prospecto_meta_corto_plazos_path %>
