<h1>Editing Prospecto Meta Largo Plazo</h1>

<%= render 'form', prospecto_meta_largo_plazo: @prospecto_meta_largo_plazo %>

<%= link_to 'Show', @prospecto_meta_largo_plazo %> |
<%= link_to 'Back', prospecto_meta_largo_plazos_path %>
