<h1>Editing Prospecto Cliente Producto</h1>

<%= render 'form', prospecto_cliente_producto: @prospecto_cliente_producto %>

<%= link_to 'Show', @prospecto_cliente_producto %> |
<%= link_to 'Back', prospecto_cliente_productos_path %>
