<h1>Editar Prospecto</h1>

<%= render 'form', prospecto: @prospecto %>

<%= link_to 'Mostrar', @prospecto, class:"btn btn-primary" %> |
<%= link_to 'Regresar', prospectos_path, class:"btn btn-primary" %>
