<h1>Editing Seguimiento Respuesta</h1>

<%= render 'form', seguimiento_respuesta: @seguimiento_respuesta %>

<%= link_to 'Show', @seguimiento_respuesta %> |
<%= link_to 'Back', seguimiento_respuestas_path %>
