<h1>Editing Prospecto Seguimiento</h1>

<%= render 'form', prospecto_seguimiento: @prospecto_seguimiento %>

<%= link_to 'Show', @prospecto_seguimiento %> |
<%= link_to 'Back', prospecto_seguimientos_path %>
